<center>
Don't be mad<br>
look at the sad Panda instead<br>
<img src="/media/img/sad_panda.jpg" /><br>
<span style="font-size: smaller;">
Image stolen from <br>

<a href="http://southmelbournefc.blogspot.fi/2012/06/that-makes-me-sad-panda-south-melbourne.html" 
target="_blank">http://southmelbournefc.blogspot.fi</a>
</span>
</center>
